body
{
  color: #fff;
  text-align: center;
  display: grid;
  grid-template:  20% 100px 1fr 100px / 1fr 20%;
  grid-gap: 15px ;
}
header
{
  background-color: grey;
  grid-area: 1 / 1 / 2 / 4;
}
main
{
  background-color: green;
  display: grid;
  grid-template: 1fr 1fr / 1fr;
}
article
{
    background-color: blue;
    margin: 10px 10px;
    grid-column: 1/2;
    height: 100px;
}
nav
{
  background: pink;
  grid-area: 2 / 1 / 3 / 4;
}
aside
{
  grid-area: 3 / 2 / 4 / 4;
  background: aqua;
}
footer
{
  grid-area: 4 / 1 / 5 / 4;
  background: orange;
}
